In [ ]:
-- Provide an additional columns called PurchasesMade with a string stating the total money spent on purchases and the vendors name.
SELECT 
    VendorName
    , VendorCity
    , VendorState
    , YTDPurchases
    ,CASE
        YTDPurchases
        WHEN 0 THEN 
            'No product purchased.'
        ELSE 
            '$' + CONVERT(VarChar(20), YTDPurchases) + ' of product purchased by' + VendorName + '.'
        END AS PurchasesMade
FROM 
    Vendors

In [9]:
-- Use AS, LEFT JOIN, WHERE, and ORDER BY to find overpaid invoices by VendorID. 
-- Include the amount Overpaid and the Vendor Name in the query output. 
SELECT 
    V.VendorName, 
    P.InvoiceTotal - P.PaymentTotal AS Overpaid

FROM 
    PaidInvoices P
    LEFT JOIN
        Vendors V
    ON 
        P.VendorID = V.VendorID
WHERE 
    P.InvoiceTotal - P.PaymentTotal <> 0
ORDER BY 
    VendorName

VendorName,Overpaid
Malloy Lithographing Inc,2295.95
Zylka Design,200.00

In [8]:
-- Use AS, WHERE, EXCEPT, and ORDER BY to find overpaid invoices by VendorID. 
-- Include the amount Overpaid and the Vendor Name in the query output.

SELECT 
    V.VendorName, 
    P.InvoiceTotal - P.PaymentTotal AS Overpaid

FROM 
    PaidInvoices P
    JOIN
    Vendors V
    ON 
    P.VendorID = V.VendorID
EXCEPT

SELECT  
    V.VendorName, 
    P.InvoiceTotal - P.PaymentTotal AS Overpaid
FROM 
    PaidInvoices P
    JOIN
    Vendors V
    ON P.VendorID = V.VendorID
    WHERE 
    P.InvoiceTotal - P.PaymentTotal = 0
ORDER BY V.VendorName

VendorName,Overpaid
Malloy Lithographing Inc,2295.95
Zylka Design,200.00

In [19]:
--Update Employees
UPDATE 
    Employees
SET 
    LastName = 'Persephone',
    FirstName = 'Dechario'
WHERE 
    FirstName = 'Cindy' AND
    LastName = 'Smith'

In [20]:
-- Provide a list of all employees, past and present.

SELECT 
    FirstName,
    LastName
FROM Employees

UNION

SELECT
    FirstName,
    LastName
FROM
    EmployeesOld

FirstName,LastName
Cindy,Smith
Dechario,Persephone
Denise,Watson
Elmer,Jones
Olivia,Hernandez
Paulo,Locario
Ralph,Simonian
Rhea,O'Leary
Robert,Aaronsen
Thomas,Hardy

In [22]:
-- Provide a list of unique employee Department Numbers. 

SELECT DISTINCT EmployeeID
FROM 
    Employees

EmployeeID
1
2
3
4
5
6
7
8
9