<a href="https://colab.research.google.com/github/Davelexic/2022-07-DSI-WDX-1/blob/main/moviescriptscrapper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [160]:
from bs4 import BeautifulSoup
import requests
import re
from pprint import pprint

In [161]:
# creating the movie list

In [162]:
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

worksheet = gc.open('movies').sheet1

# get_all_values gives a list of rows.
rows = worksheet.get_all_values()

# Convert to a DataFrame and render.
import pandas as pd
movies = pd.DataFrame.from_records(rows)

WARNING:google.auth._default:No project ID could be determined. Consider running `gcloud config set project` or setting the GOOGLE_CLOUD_PROJECT environment variable

In [163]:
movies.head(5)

,0,1,2,3,4,5,6,7
0,Title,Year of Release,Rating,Number of Reviews,Popularity Index,Movie Cast,Director,Description
1,The Shawshank Redemption,1994,9.3,2.6M,66,"['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'...",Frank Darabont,Two imprisoned men bond over a number of years...
2,The Godfather,1972,9.2,1.8M,17,"['Marlon Brando', 'Al Pacino', 'James Caan', '...",Francis Ford Coppola,The aging patriarch of an organized crime dyna...
3,The Dark Knight,2008,9,2.6M,91,"['Christian Bale', 'Heath Ledger', 'Aaron Eckh...",Christopher Nolan,When the menace known as the Joker wreaks havo...
4,The Godfather: Part II,1974,9,1.2M,102,"['Al Pacino', 'Robert De Niro', 'Robert Duvall...",Francis Ford Coppola,The early life and career of Vito Corleone in ...

In [164]:
rating=movies.sort_values(2, ascending=False)

In [165]:
rating[0]

0                          Title
1       The Shawshank Redemption
2                  The Godfather
3                The Dark Knight
4         The Godfather: Part II
                 ...
178    In the Name of the Father
179     The Grand Budapest Hotel
180                 Barry Lyndon
181           Memories of Murder
207                Before Sunset
Name: 0, Length: 208, dtype: object

In [166]:
movielist = rating[0].values.tolist()

In [167]:
## beautiful soup scrapper

In [168]:
url = 'https://imsdb.com/all-scripts.html'
page = requests.get(url)
soup = BeautifulSoup(page.text, "html.parser")
# <br/><h1>All Movie Scripts on IMSDb (A-Z)</h1><p><a href="/Movie Scripts/10 Things I Hate About You Script.html" title="10 Things I Hate About You Script">10 Things I Hate About You</a> (1997-11 Draft)<br/><i>Written by Karen McCullah Lutz,Kirsten Smith,William Shakespeare</i><br/></p><p>

In [ ]:
moviescripts=soup.find_all('p')

In [244]:
link=[i['href'] for i in soup.find_all('a', href=True)]

In [247]:
title=[i['title'] for i in soup.find_all('a', title=True)]

In [238]:
moviescripts[0]

<p><a href="/Movie Scripts/10 Things I Hate About You Script.html" title="10 Things I Hate About You Script">10 Things I Hate About You</a> (1997-11 Draft)<br/><i>Written by Karen McCullah Lutz,Kirsten Smith,William Shakespeare</i><br/></p>

In [ ]:
title

In [278]:
scriptdf=scriptdf.drop([0,1,2])

In [284]:
scriptdf=scriptdf.drop([1214,1215,1216])

In [286]:
scriptdf.head()

                               Title
3  10 Things I Hate About You Script
4                          12 Script
5              12 and Holding Script
6                  12 Monkeys Script
7            12 Years a Slave Script

In [289]:
scriptdf['Title']=scriptdf['Title'].str.replace(' Script', '')

In [291]:
scriptdf['link']=scriptdf['Title'].str.replace(' ', '-')

In [299]:
scriptdf.link="https://imsdb.com/scripts/"+scriptdf.link+".html"

In [300]:
scriptdf

,Title,link
3,10 Things I Hate About You,https://imsdb.com/scripts/10-Things-I-Hate-Abo...
4,12,https://imsdb.com/scripts/12.html
5,12 and Holding,https://imsdb.com/scripts/12-and-Holding.html
6,12 Monkeys,https://imsdb.com/scripts/12-Monkeys.html
7,12 Years a Slave,https://imsdb.com/scripts/12-Years-a-Slave.html
...,...,...
1209,You've Got Mail,https://imsdb.com/scripts/You've-Got-Mail.html
1210,Youth in Revolt,https://imsdb.com/scripts/Youth-in-Revolt.html
1211,Zero Dark Thirty,https://imsdb.com/scripts/Zero-Dark-Thirty.html
1212,Zerophilia,https://imsdb.com/scripts/Zerophilia.html
1213,Zootopia,https://imsdb.com/scripts/Zootopia.html