In [13]:
--Left Join
SELECT
    DeptName
    ,D.DeptNo
    ,LastName
FROM
    Departments D
LEFT JOIN
    Employees E ON D.DeptNo = E.DeptNo

--Right Join
SELECT
    DeptName
    ,D.DeptNo
    ,LastName
FROM
    Departments D
RIGHT JOIN
    Employees E ON D.DeptNo = E.DeptNo

--Full Join
SELECT
    DeptName
    ,D.DeptNo
    ,LastName
FROM
    Departments D
FULL JOIN
    Employees E ON D.DeptNo = E.DeptNo

DeptName,DeptNo,LastName
Accounting,1,Hernandez
Payroll,2,Smith
Payroll,2,Simonian
Payroll,2,Aaronsen
Operations,3,NULL
Personnel,4,Jones
Personnel,4,O'Leary
Maintenance,5,Hardy

DeptName,DeptNo,LastName
Payroll,2,Smith
Personnel,4,Jones
Payroll,2,Simonian
Accounting,1,Hernandez
Payroll,2,Aaronsen
NULL,NULL,Watson
Personnel,4,O'Leary
NULL,NULL,Locario
Maintenance,5,Hardy

DeptName,DeptNo,LastName
Accounting,1,Hernandez
Payroll,2,Smith
Payroll,2,Simonian
Payroll,2,Aaronsen
Operations,3,NULL
Personnel,4,Jones
Personnel,4,O'Leary
Maintenance,5,Hardy
NULL,NULL,Watson
NULL,NULL,Locario

In [33]:
SELECT
    InvoiceNumber
    ,VendorName
    ,'33% Payment' AS PaymentType
    ,InvoiceTotal AS Total
    ,(InvoiceTotal * 0.3333) AS Payment
FROM
    ActiveInvoices A
JOIN
    Vendors V 
ON
    A.VendorID = V.VendorID
WHERE 
    InvoiceTotal > 10000
UNION
SELECT
    InvoiceNumber
    ,VendorName
    ,'50% Payment' AS PaymentType
    ,InvoiceTotal AS Total
    ,(InvoiceTotal * 0.5) AS Payment
FROM
    ActiveInvoices A
JOIN
    Vendors V 
ON
    A.VendorID = V.VendorID
WHERE 
    InvoiceTotal BETWEEN 500 and 1000
UNION
SELECT
    InvoiceNumber
    ,VendorName
    ,'Full Amount' AS PaymentType
    ,InvoiceTotal AS Total
    ,InvoiceTotal AS Payment
FROM
    ActiveInvoices A
JOIN
    Vendors V 
ON
    A.VendorID = V.VendorID
WHERE 
    InvoiceTotal < 500
ORDER BY
    PaymentType
    ,VendorName
    ,InvoiceNumber

InvoiceNumber,VendorName,PaymentType,Total,Payment
0-2436,Malloy Lithographing Inc,33% Payment,10976.06,3658.32079800
P-0608,Malloy Lithographing Inc,33% Payment,20551.18,6849.70829400
9982771,Ford Motor Credit Company,50% Payment,503.20,251.60000000
31361833,Ingram,50% Payment,579.42,289.71000000
547480102,Blue Cross,Full Amount,224.00,224.00000000
134116,"Cardinal Business Media, Inc.",Full Amount,90.36,90.36000000
39104,Data Reproductions Corp,Full Amount,85.31,85.31000000
263253268,Federal Express Corporation,Full Amount,59.97,59.97000000
263253270,Federal Express Corporation,Full Amount,67.92,67.92000000
263253273,Federal Express Corporation,Full Amount,30.75,30.75000000
963253264,Federal Express Corporation,Full Amount,52.25,52.25000000

In [30]:
SELECT
    VendorID
    ,SUM(InvoiceTotal) AS SumInvoices
    ,CASE 
        WHEN SUM(InvoiceTotal) < 1000
            THEN 'Low'
        ELSE 'High'
    END AS InvoiceRange
FROM
    ActiveInvoices
GROUP BY 
    VendorID

VendorID,SumInvoices,InvoiceRange
37,224.00,Low
72,85.31,Low
80,90.36,Low
83,579.42,Low
106,503.20,Low
110,31527.24,High
123,210.89,Low

In [4]:
SELECT
    *
FROM
    ActiveInvoices

InvoiceID,VendorID,InvoiceNumber,InvoiceDate,InvoiceTotal,PaymentTotal,CreditTotal,TermsID,InvoiceDueDate,PaymentDate
89,72,39104,2016-03-10 00:00:00,85.31,0.00,0.00,3,2016-04-09 00:00:00,NULL
94,123,963253264,2016-03-18 00:00:00,52.25,0.00,0.00,3,2016-04-17 00:00:00,NULL
98,83,31361833,2016-03-21 00:00:00,579.42,0.00,0.00,2,2016-04-10 00:00:00,NULL
99,123,263253268,2016-03-21 00:00:00,59.97,0.00,0.00,3,2016-04-20 00:00:00,NULL
100,123,263253270,2016-03-22 00:00:00,67.92,0.00,0.00,3,2016-04-21 00:00:00,NULL
101,123,263253273,2016-03-22 00:00:00,30.75,0.00,0.00,3,2016-04-21 00:00:00,NULL
102,110,P-0608,2016-03-23 00:00:00,20551.18,0.00,1200.00,3,2016-04-22 00:00:00,NULL
105,106,9982771,2016-03-24 00:00:00,503.20,0.00,0.00,3,2016-04-23 00:00:00,NULL
110,80,134116,2016-03-28 00:00:00,90.36,0.00,0.00,2,2016-04-17 00:00:00,NULL
112,110,0-2436,2016-03-31 00:00:00,10976.06,0.00,0.00,3,2016-04-30 00:00:00,NULL
113,37,547480102,2016-04-01 00:00:00,224.00,0.00,0.00,3,2016-04-30 00:00:00,NULL